<div class="share-buttons w-embed"><!-- Twitter -->
<a href="https://twitter.com/intent/tweet?url=__POST_URL__" class="share-link" target="_blank" title="Share on Twitter" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20 '  + encodeURIComponent(document.URL),'','width=600,height=800'); return false;">
   <img class="shre-icon" src="/images/Frame.svg" alt="twitter-icon">
</a>



<!-- Facebook -->
<a href="https://www.facebook.com/sharer/sharer.php?u=__POST_URL__" class="share-link" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&amp;t=' + encodeURIComponent(document.URL),'','width=600,height=800'); return false;">
   <img class="shre-icon" src="/images/62680855-Frame-1.svg" alt="facebook-icon">
</a>




<!-- LinkedIn -->
<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=__POST_URL__" class="share-link" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=' + encodeURIComponent(document.URL) + '&amp;title=' +  encodeURIComponent(document.title),'','width=600,height=800'); return false;">
    <img class="shre-icon" src="/images/Frame-2.svg" alt="linkedn-icon">

</a></div>