<style>
  .fade-in-up:nth-child( 2 ) { transition-delay: .2s }
  .fade-in-up:nth-child( 3 ) { transition-delay: .4s }
  .fade-in-up:nth-child( 4 ) { transition-delay: .6s }
  .fade-in-up:nth-child( 5 ) { transition-delay: .8s }
  .fade-in-up:nth-child( 6 ) { transition-delay: 1.0s }
  .fade-in-up:nth-child( 7 ) { transition-delay: 1.2s }
  .fade-in-up:nth-child( 8 ) { transition-delay: 1.4s }
  .fade-in-up:nth-child( 9 ) { transition-delay: 1.6s }
  .fade-in-up:nth-child( 10 ) { transition-delay: 1.8s }
  .fade-in-up:nth-child( 11 ) { transition-delay: 2.0s }
  .fade-in-up:nth-child( 12 ) { transition-delay: 2.2s }
  .fade-in-up:nth-child( 13 ) { transition-delay: 2.4s }
  .fade-in-up:nth-child( 14 ) { transition-delay: 2.6s }
  
  @media only screen and (max-width: 992px) {
    .fade-in-up {
      transform: none !important;
    }
  }
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
      .fade-in-up {
        transform: none !important;
      }
    }
  }
</style>
<script>
$('[data-click="acordium-mb"]').click(function(){
  if(!$(this).is('.open')){
    $('[data-click="acordium-mb"].open').each((i, item)=>{
      item.click();
    });
    $(this).addClass('open');    
  }
  else{
    $(this).removeClass('open');
  }
});
  
$('[data-click="acordium-footer"]').click(function(){
  if(!$(this).is('.open')){
    $('[data-click="acordium-footer"].open').each((i, item)=>{
      item.click();
    });
    $(this).addClass('open');    
  }
  else{
    $(this).removeClass('open');
  }
});  
</script>
<script>
$('[data-click="menu"]').click(function(){
  if(!$(this).is('.open')){
    $('[data-click="menu"].open').each((i, item)=>{
      item.click();
    });
    $(this).addClass('open');    
  }
  else{
    $(this).removeClass('open');
  }
});
</script>
<script>
$(document).ready(function() {
  $(document).on('click', '.pagination-numbers .page-link, .w-pagination-previous, .w-pagination-next', function (){
    setTimeout(() => {
      if($('.pagination-numbers .page-link.w--current').text() != '1') {
        $('.blog-collection-list.featured').hide();
      } else {
        $('.blog-collection-list.featured').show();
      }
    }, 200)
  });

  $(document).on('input', '.collection-list-2 .checkbox-field, .search-field', function () {
    $('.blog-collection-list.featured').show();
		var active_blog_categories = [];
    $('.collection-list-2 .w-dyn-item').each(function() {
      if($('label', this).hasClass('is-active')) {
        active_blog_categories.push($(this).find('.checkbox-label').text());
      }
    });

    if (active_blog_categories.length != 0 && $('.search-field').val() == '') {
      $('.blog-collection-list.featured .blog-item').each(function() {
				var cms_title = $('.cms-title', this);
        var cms_category = $('.blog-category', this);
				var options = {
          "element": "span",
          "className": "fs-cmsfilter_highlight",
          "separateWordSearch": false
        };
        cms_title.unmark();
        cms_category.unmark();
        if($.inArray($(this).find('.blog-category').text(), active_blog_categories) !== -1) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    } else if($('.search-field').val() != '' && active_blog_categories.length == 0) {
      $('.blog-collection-list.featured .blog-item').each(function() {
        var cms_title = $('.cms-title', this);
        var cms_category = $('.blog-category', this);
				var options = {
          "element": "span",
          "className": "fs-cmsfilter_highlight",
          "separateWordSearch": false
        };
        cms_title.unmark({
          done: function() {
            cms_title.mark($('.search-field').val(), options);
          }
        });

        cms_category.unmark({
          done: function() {
            cms_category.mark($('.search-field').val(), options);
          }
        });
        if(cms_title.text().toLowerCase().indexOf($('.search-field').val().toLowerCase()) >= 0 || cms_category.text().toLowerCase().indexOf($('.search-field').val().toLowerCase()) >= 0) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    } else if($('.search-field').val() != '' && active_blog_categories.length != 0) {
    	$('.blog-collection-list.featured .blog-item').each(function() {
        var cms_title = $('.cms-title', this);
        var cms_category = $('.blog-category', this);
				var options = {
          "element": "span",
          "className": "fs-cmsfilter_highlight",
          "separateWordSearch": false
        };
        cms_title.unmark({
          done: function() {
            cms_title.mark($('.search-field').val(), options);
          }
        });

        cms_category.unmark({
          done: function() {
            cms_category.mark($('.search-field').val(), options);
          }
        });
        if($.inArray($(this).find('.blog-category').text(), active_blog_categories) !== -1 && (cms_title.text().toLowerCase().indexOf($('.search-field').val().toLowerCase()) >= 0 || cms_category.text().toLowerCase().indexOf($('.search-field').val().toLowerCase()) >= 0)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    } else {
			$('.blog-collection-list.featured .blog-item').each(function() {
				var cms_title = $('.cms-title', this);
        var cms_category = $('.blog-category', this);
				var options = {
          "element": "span",
          "className": "fs-cmsfilter_highlight",
          "separateWordSearch": false
        };
        cms_title.unmark();
        cms_category.unmark();
        $(this).show();
      });
    }
  });
});
</script>
<script>

$(window).on('load', function() {
  function handleHashChange() {
    var hash = window.location.hash;
    if (hash.length > 0) { // Check if hash is not empty
      var strippedHash = hash.replace('#', '').replace(/-/g, ' ');
      var strippedHashTitleCase = strippedHash.toLowerCase().replace(/(^|\s)\S/g, function(firstLetter) { return firstLetter.toUpperCase(); });
      $('[for="checkbox"]:contains("' + strippedHashTitleCase + '")').click();
    }
  }

  handleHashChange(); // Call the function once on page load

  $(window).on('hashchange', handleHashChange); // Bind the function to the hashchange event
});


</script>
<script>
window.onscroll = function() {
  var topBar = document.querySelector(".top-bar");
  var bodyHeight = document.body.offsetHeight - window.innerHeight;
  var scrollPercentage = (document.documentElement.scrollTop / bodyHeight) * 100;

  if (scrollPercentage >= 3) {
    topBar.classList.remove("out");
  } else {
    topBar.classList.add("out");
  }
};

var dropdownWrapper = document.querySelector(".dropdown-wrapper");
var dropdownToggleWrapper = document.querySelector(".dropdown-toggle-wrapper");

dropdownWrapper.addEventListener("mouseout", function() {
  dropdownToggleWrapper.style.color = "inherit";
});

</script>
<script>
$('.dropdown-wrapper').hover(function(){
  $('[colour-nav-hover="black"]').addClass('black');
}, function(){
  $('[colour-nav-hover="black"]').removeClass('black');
});



let menuItems = document.querySelectorAll('[accordion="menu"]');
let hamburger = document.querySelector('.mb-menu-hamburger');
let logo = document.querySelector('.logo-svg-embed');
let turncolorElements = document.querySelectorAll('[turncolor="is-black"]');
let logoClassAdded = false;

for (let i = 0; i < menuItems.length; i++) {
  menuItems[i].addEventListener('click', function () {
    for (let j = 0; j < turncolorElements.length; j++) {
      turncolorElements[j].classList.toggle('is--black-acordium');
    }
  });
}

</script>